In [3]:
import pandas as pd
import numpy as np

movies_csv_path = "Resources/AllMoviesDetailsCleaned.csv"
streaming_csv_path = "Resources/MoviesOnStreamingPlatforms_updated.csv"

In [4]:
movies_df = pd.read_csv(movies_csv_path, encoding="utf-8", delimiter=";", parse_dates=["release_date"])
streaming_df = pd.read_csv(streaming_csv_path, encoding="utf-8", parse_dates=["Year"])

/Users/buckleyweglarz/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
movies_df["release_date"] = movies_df["release_date"].dt.year

In [6]:
streaming_df["Year"] = streaming_df["Year"].dt.year

In [7]:
movies_df = movies_df.loc[(movies_df["release_date"].isnull() != True),:]
movies_df["release_date"].astype(int)

0         1988
1         1986
2         1995
3         1993
4         2006
          ...
329039    2016
329040    2006
329041    2017
329042    2016
329043    2017
Name: release_date, Length: 304998, dtype: int64

In [8]:
streaming_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [9]:
super_merge = pd.merge(movies_df, streaming_df, left_on=["title", "release_date"], right_on=["Title", "Year"])
super_merge.head()

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,12,94000000,Animation|Family,tt0266543,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",9.915573,Pixar Animation Studios,United States of America,...,0,0,0,1,0,"Andrew Stanton,Lee Unkrich","Animation,Adventure,Comedy,Family","United States,Australia",English,100.0
1,21,0,Documentary,tt0060371,en,The Endless Summer,"The Endless Summer, by Bruce Brown, is one of ...",0.144179,Bruce Brown Films,United States of America,...,0,0,1,0,0,Bruce Brown,"Documentary,Sport",United States,English,95.0
2,22,140000000,Adventure|Fantasy|Action,tt0325980,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",28.769026,Walt Disney Pictures,United States of America,...,0,0,0,1,0,Gore Verbinski,"Action,Adventure,Fantasy",United States,English,143.0
3,24,30000000,Action|Crime,tt0266697,en,Kill Bill: Vol. 1,An assassin is shot at the altar by her ruthle...,7.891837,Miramax Films,United States of America,...,0,1,0,0,0,Quentin Tarantino,"Action,Crime,Thriller","United States,Japan","English,Japanese,French",111.0
4,25,72000000,Drama|War,tt0418763,en,Jarhead,Jarhead is a film about a US Marine Anthony Sw...,2.41718,Universal Pictures,Germany,...,1,0,0,0,0,Sam Mendes,"Action,Biography,Drama,War","United States,United Kingdom,Germany","English,Spanish,Arabic,Latin",125.0

In [15]:
netflix_df = super_merge[["Netflix"]]
netflix_df

       Netflix
0            0
1            0
2            0
3            0
4            1
...        ...
12630        0
12631        0
12632        0
12633        0
12634        1

[12635 rows x 1 columns]

In [18]:
netflix_df = netflix_df.loc[netflix_df['Netflix'] >= 1] 
netflix_df

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
4,25,72000000,Drama|War,tt0418763,en,Jarhead,Jarhead is a film about a US Marine Anthony Sw...,2.41718,Universal Pictures,Germany,...,1,0,0,0,0,Sam Mendes,"Action,Biography,Drama,War","United States,United Kingdom,Germany","English,Spanish,Arabic,Latin",125.0
7,85,18000000,Adventure|Action,tt0082971,en,Raiders of the Lost Ark,When Dr. Indiana Jones – the tweed-suited prof...,7.314292,Lucasfilm,United States of America,...,1,0,0,0,0,Steven Spielberg,"Action,Adventure",United States,"English,German,Hebrew,Spanish,Arabic,Nepali",115.0
8,87,28000000,Adventure|Action,tt0087469,en,Indiana Jones and the Temple of Doom,"After arriving in India, Indiana Jones is aske...",5.201531,Lucasfilm,United States of America,...,1,0,0,0,0,Steven Spielberg,"Action,Adventure",United States,"English,Sinhalese,Hindi",118.0
9,89,48000000,Adventure|Action,tt0097576,en,Indiana Jones and the Last Crusade,When Dr. Henry Jones Sr. suddenly goes missing...,6.340482,Lucasfilm,United States of America,...,1,0,0,0,0,Steven Spielberg,"Action,Adventure",United States,"English,German,Greek,Arabic",127.0
11,103,1300000,Crime|Drama,tt0075314,en,Taxi Driver,A mentally unstable Vietnam War veteran works ...,6.326819,Columbia Pictures Corporation,United States of America,...,1,0,0,0,0,Martin Scorsese,"Crime,Drama",United States,"English,Spanish",114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12621,468052,0,Mystery|Thriller,tt6791638,bn,মেঘনাদবধ রহস্য,"Asimava Bose, an Arthur C Clark award winning ...",0.396805,none,India,...,1,0,0,0,0,Anik Datta,Thriller,India,Bengali,NaN
12625,468362,0,Action|Drama|History|Thriller|War,tt5968274,en,The Angel,"True story of Ashraf Marwan, who was President...",0.10832,Netflix,Israel,...,1,0,1,0,0,Ariel Vromen,"Drama,Thriller","Israel,United States","English,Hebrew,Arabic,Italian",114.0
12626,468366,0,Comedy,tt7164714,en,Maz Jobrani: Immigrant,Iranian American comic Maz Jobrani lights up t...,2.42922,Netflix Studios,United States of America,...,1,0,0,0,0,Maz Jobrani,Comedy,NaN,English,112.0
12629,468870,0,Drama,tt3723840,xx,#Selfie,NaN,0.167535,BKT-Films,France,...,1,0,0,0,0,Cristina Jacob,Comedy,Romania,Romanian,123.0
12634,469146,0,Drama|Action,NaN,ml,കാലിയന്‍,Kaaliyan is a Malayalam movie starring Tini To...,2.5011,Chelachuvadu Films,India,...,1,0,0,0,0,S. Mahesh,NaN,India,"Malayalam,Hindi,Tamil,Telugu,Kannada",NaN

In [19]:
netflix_df = netflix_df[["Netflix"]]
netflix_df

       Netflix
4            1
7            1
8            1
9            1
11           1
...        ...
12621        1
12625        1
12626        1
12629        1
12634        1

[1973 rows x 1 columns]