In [15]:
import pandas as pd
import numpy as np

movies_csv_path = "Resources/AllMoviesDetailsCleaned.csv"
streaming_csv_path = "Resources/MoviesOnStreamingPlatforms_updated.csv"

In [16]:
movies_df = pd.read_csv(movies_csv_path, encoding="utf-8", delimiter=";", parse_dates=["release_date"])
streaming_df = pd.read_csv(streaming_csv_path, encoding="utf-8", parse_dates=["Year"])

/Users/Tyson/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [17]:
movies_df["release_date"] = movies_df["release_date"].dt.year

In [18]:
streaming_df["Year"] = streaming_df["Year"].dt.year

In [19]:
#movies_df.count()

In [20]:
movies_df = movies_df.loc[(movies_df["release_date"].isnull() != True),:]
movies_df["release_date"].astype(int)

0         1988
1         1986
2         1995
3         1993
4         2006
          ...
329039    2016
329040    2006
329041    2017
329042    2016
329043    2017
Name: release_date, Length: 304998, dtype: int64

In [21]:
streaming_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [22]:
super_merge = pd.merge(movies_df, streaming_df, left_on=["title", "release_date"], right_on=["Title", "Year"]).reset_index(drop=True)
super_merge

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,12,94000000,Animation|Family,tt0266543,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",9.915573,Pixar Animation Studios,United States of America,...,0,0,0,1,0,"Andrew Stanton,Lee Unkrich","Animation,Adventure,Comedy,Family","United States,Australia",English,100.0
1,21,0,Documentary,tt0060371,en,The Endless Summer,"The Endless Summer, by Bruce Brown, is one of ...",0.144179,Bruce Brown Films,United States of America,...,0,0,1,0,0,Bruce Brown,"Documentary,Sport",United States,English,95.0
2,22,140000000,Adventure|Fantasy|Action,tt0325980,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 17th-century pira...",28.769026,Walt Disney Pictures,United States of America,...,0,0,0,1,0,Gore Verbinski,"Action,Adventure,Fantasy",United States,English,143.0
3,24,30000000,Action|Crime,tt0266697,en,Kill Bill: Vol. 1,An assassin is shot at the altar by her ruthle...,7.891837,Miramax Films,United States of America,...,0,1,0,0,0,Quentin Tarantino,"Action,Crime,Thriller","United States,Japan","English,Japanese,French",111.0
4,25,72000000,Drama|War,tt0418763,en,Jarhead,Jarhead is a film about a US Marine Anthony Sw...,2.41718,Universal Pictures,Germany,...,1,0,0,0,0,Sam Mendes,"Action,Biography,Drama,War","United States,United Kingdom,Germany","English,Spanish,Arabic,Latin",125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12630,469035,0,NaN,tt4323568,en,Shot,One bullet. Three lives. Everyone pays. On an ...,0.0703,none,none,...,0,0,1,0,0,Gustavo Hernández,"Adventure,Drama,Horror,Mystery,Thriller",Uruguay,Spanish,86.0
12631,469105,0,NaN,tt3038542,en,Tie the Knot,The hysterical cross cultural journey of hearts.,0.5537,none,none,...,0,0,1,0,0,Shuja Paul,"Comedy,Drama,Family,Musical,Romance","United States,India",English,90.0
12632,469108,0,Adventure|Documentary,tt6680858,en,Under an Arctic Sky,The film follows six surfers along with advent...,0.0218,none,none,...,0,0,1,0,0,Chris Burkard,"Documentary,Short,Adventure,Sport",United States,"Icelandic,English",39.0
12633,469109,0,Crime|Romance|Drama,NaN,en,Plug Love,Based on the acclaimed novel by danielle marcu...,0.1599,none,none,...,0,0,1,0,0,Derek Scott,Drama,United States,English,116.0
12634,469146,0,Drama|Action,NaN,ml,കാലിയന്‍,Kaaliyan is a Malayalam movie starring Tini To...,2.5011,Chelachuvadu Films,India,...,1,0,0,0,0,S. Mahesh,NaN,India,"Malayalam,Hindi,Tamil,Telugu,Kannada",NaN

In [23]:
super_merge["Directors"].value_counts()

Joseph Kane                      30
Jay Chapman                      30
Cheh Chang                       26
Sam Newfield                     22
Jim Wynorski                     21
                                 ..
Geethu Mohandas                   1
Jenni Ivers                       1
Alexander Yellen                  1
Phil Whitman,Hampton Del Ruth     1
Peter DeLuise                     1
Name: Directors, Length: 8709, dtype: int64

In [29]:
hulu_df = super_merge.loc[super_merge["Hulu"]==1,:]
hulu_df = hulu_df[["Title","Hulu"]]
hulu_df

                                                   Title  Hulu
3                                      Kill Bill: Vol. 1     1
15                                                 Akira     1
16                         Star Trek: The Motion Picture     1
17                       Star Trek II: The Wrath of Khan     1
18                                       The Dark Knight     1
...                                                  ...   ...
12516                       The Thousand Faces of Dunjia     1
12518                           Random Tropical Paradise     1
12534  Monkey Business: The Adventures of Curious Geo...     1
12535                                            Lowlife     1
12570                                               Maze     1

[574 rows x 2 columns]

In [30]:
hulu_df.to_csv("output_data/hulu_count.csv", header=True, index=True)